.right-window{
    width: 75%;
    height: 100vh;
    float: right;
    background: #F7F7F7;
    justify-content: center;
}
.column {
    float: left;
    width: 100%;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}