
.supply-chain{
    display: flex;
    flex-flow: row;
}
.picture{
    margin: auto;
    margin-top: 100px;
}
.content{
    margin: auto;
    margin-top: 50px;
    width: fit-content;
    display: flex;
    flex-flow: column;
}
.input-text{
    margin: auto;
}
.request-text{
    margin: auto;
    margin-left: 750%;
    width: 425px;
    height: 25px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;
}
.select-box{
    margin: auto;
    padding: 20px 20px 20px 20px;
}
.select-btn{
    margin: auto;
    padding: 20px 20px 20px 20px;
}
.enroll__formgroup{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.enroll__input{
    width: 300px;
}