.entityCreation{
    display: flex;
    flex-flow: column;
}

h1{
    margin-left: 53px;
}
h2{
    margin-left: 53px;
}

.formInput input{
    margin-left: 53px;
    width: 350px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
}

.formDropdown select{
    margin-left: 60px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    height: 46px;
}

.formTop{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.attributes{
    display: flex;
    flex-flow: wrap;
    margin-left: 81px;
    column-gap: 15px;
}

.attributes select{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    height: 46px;
}

.formBottom{
    display: flex;
    justify-content: space-evenly;
    margin-left: 23px;
}

.attributeName input{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    width: 200px;
    height: 46px;
}
.create-entity-playground{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border: #000 solid 2px;
    border-radius: 20px;
}

.iconAdd{
    margin: auto;
    margin-top: 76px;
}

.iconDelete{
    margin: auto;
    margin-top: 76px;
    flex: 0 0 10px;
}

.icons{
    display: flex;
    column-gap: 9px;
}

.entityCreationBtn{
    display: flex;
    /* margin: auto; */
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.attributeDetails{
    text-transform: capitalize;
    display: flex;
    flex-flow: column;
}

.attributeDetails h3{
    background: #FFFFFF;
    border: 2px solid #727272;
    border-radius: 9px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 49px;
    text-align: center;
    width: fit-content;
    height: 56px;
    padding-left: 10px;
    padding-right: 10px;
}