.optimal-container{
    width: 600px;
    margin: auto;
    

    .optimal-btn{
        margin: auto;
    }
    .constraint-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .coeff-input{
            width: 140px;
        }
    }
}