.right-window{
    width: 75%;
    height: 100vh;
    float: right;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
}
.create-chain-container{
    width: 93%;
    height: 93%;
    background-color: #fff;
    border-radius: 30px;
    margin: auto;
    margin-bottom : 20px;
    padding-bottom: 20px;
}
.input-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 30px 30px 30px 30px;
}
.input-box{
    padding: 20px 20px 20px 20px;
}
