
.transfer{
    display: flex;
    flex-flow: row;
}
.transfer-picture{
    margin: auto;
    margin-top: 100px;
}
.transfer-content{
    margin: auto;
    margin-top: 50px;
    width: fit-content;
    display: flex;
    flex-flow: column;
}
.transfer-box{
    margin: auto;
    padding: 20px 20px 20px 20px;
}
.transfer-btn{
    margin: auto;
    padding: 20px 20px 20px 20px;
}